*,
*:before,
*:after {
  box-sizing: border-box;
}


html{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;   
    scroll-behavior:smooth;
}

body {
    font-family: 'Open Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;;
    padding-top: 100px;
    font-size: 14px;
    line-height: 1.2;
    color: #555;
}
.img{
    border-style: none;
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
.page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.main-part{
    flex: 1 0 auto;
}

.header{
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 5;
}


.header .conteiner{
    width: 100%;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding: 10px 0;
    background-color:bisque;
}

.logo{
    display: block;
    width: 65px;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.menu li {
    margin-left: 30px;   
  }

.menu a {
    text-decoration: none;
    transition: opacity .5s ease;
    line-height: 1.2;
    font-weight: 700;
    color: #555555;
  }

.menu a:hover {
    color:blue;
  }

.menu li::after{
      content:"";
      width: 0;
      height: 2px;
      background:red;
      display: block;
      margin: auto;
      transition: 0.5s;
  }
.menu li:hover::after{
      width: 100%;
}

